Source/FE/node_modules
Source/BE/.settings
Source/BE/target
Source/AdminFE/node_modules
Source/FE/package-lock.json
Source/AdminFE/package-lock.json
Tools/JsonToObject/target
Source/**/**/*.class
Tools/**/*.class
